@* @model RohatasTransportCore.Models.test *@
@model List<RavindraInfratch.Models.PurchaseModel>
@{
	@foreach (var RType in Model)
	{
		ViewBag.Title = " Purchase List";
		 
	}

	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="body">

	<!-- start: header -->
	<header class="header">
		@* <uc1:AdminHeader ID="AdminHeader1" runat="server" /> *@
		@Html.Partial("_AdminHeader")
		<!-- start: search & user box -->
		<!-- end: search & user box -->
	</header>
	<!-- end: header -->

	<div class="inner-wrapper">
		<!-- start: sidebar -->
		@* @{
		Html.RenderPartial("_AdminMenu");
		} *@
		@Html.Partial("_AdminMenu")
		<!-- end: sidebar -->
		<div>

			<!-- Modal Basic -->
			<!-- Modal Bootstrap -->

		</div>

		<section role="main" class="content-body card-margin">


			<!-- start: page -->


			<div class="row">

				<div class="col-lg-12">
					<section class="card form-wizard" id="w1">
						<header class="card-header">
							<div class="card-actions">
								<a href="#" class="card-action card-action-toggle" data-card-toggle></a>
								<a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
							</div>
							@* @foreach (var RType in Model) *@

							<h2 class="card-title">Purchase List  </h2>


						</header>
						<div class="card-body card-body-nopadding">
							<ul class="nav nav-pills nav-pills-primary">
								&nbsp;
								<li class="nav-item">

									@* <a class="nav-link active" href="Registation?tTpye"=@RType.TType">Add New</a> *@
									@* <a asp-controller="Admin" asp-action="Registation" class="nav-link active" asp-route-id="@ViewData["Ttype"]">Add New</a> *@

								</li>



							</ul>
							<div id="w1-account" class="tab-pane p-3 ">
								<div>
									<table cellspacing="0" rules="all" class="table table-bordered table-striped mb-0" border="1" id="grd" style="border-collapse:collapse;">
										<thead>
											<tr class="headerStyle">
												<th scope="col">Sr.</th>
												<th scope="col">SponsorName</th>
												<th scope="col">Name</th>
												<th scope="col">Mobile</th>
												<th scope="col">WhatsApp</th>
												<th scope="col">P Address</th>
												<th scope="col">Aaraji No</th>
												<th scope="col">Area</th>
											 
												<th scope="col">Date</th>
												<th scope="col">Status</th>
												<th scope="col">Photos</th>

												<th align="center" scope="col" style="width:50px;">Edit</th>
												<th align="center" scope="col" style="width:50px;">Delete</th>
											</tr>
										</thead>
										<tbody>
											@if (Model != null && Model.Any())
											{
												@* @Model.stateLists = new  *@
												var i = 0;
												@foreach (var Reg in Model)
												{
													var moid = "modal" + Reg.Id;
													i = i + 1;
													var ActiveColor = "";
													@if (Reg.Process !=5)
													{
														ActiveColor = "Orange";
													}
													<tr class="rowStyle" style="background-color:@ActiveColor">
														<td style="white-space:nowrap;">@i</td>
														<td style="white-space:nowrap;">@Reg.SponsorName</td>
														<td style="white-space:nowrap;">@Reg.AccountName</td>
														<td style="white-space:nowrap;">@Reg.Mobile</td>
														<td style="white-space:nowrap;">@Reg.WhatsApp</td>
														<td style="white-space: nowrap">@Reg.Address2</td>
														<td style="white-space:nowrap;">@Reg.Aarajino</td>
														<td style="white-space:nowrap;">@Reg.Area</td>
														 
														<td style="white-space:nowrap;">@Reg.Createddate</td>
														@if (Reg.Process != 5)
														{
															<td style="white-space:nowrap">Pending</td>
														}
														else
														{
															<td style="white-space:nowrap">Active</td>
														}
														<td align="center">
															<a asp-controller="Admin" asp-action="AddPhoto" asp-route-id="@Reg.Id"><img src="~/../images/img_photo.png" /></a>



														</td>
														<td align="center">
															<a asp-controller="Admin" asp-action="AddPurchase" asp-route-id="@Reg.Id"><img src="~/../images/img_edit.png" /></a>



														</td>
														<td align="center">

															<a class="mb-1 mt-1 mr-1 modal-basic" href="#@moid"><img src="~/../images/img_delete.png" /></a>


														</td>
													</tr>
													<div id="@moid" class="modal-block mfp-hide">
														<section class="card">
															<header class="card-header">
																<h2 class="card-title">Are you sure?</h2>
															</header>
															<div class="card-body">
																<div class="modal-wrapper">
																	<div class="modal-text">
																		<p class="mb-0">Are you sure that you want to delete this data?</p>
																	</div>
																</div>
															</div>
															<footer class="card-footer">
																<div class="row">
																	<div class="col-md-12 text-right">
																		<a asp-controller="Admin" asp-action="PurchaseList" class="btn btn-primary" asp-route-id="@Reg.Id">Confirm</a>


																		<button class="btn btn-default modal-dismiss">Cancel</button>
																	</div>
																</div>
															</footer>
														</section>
													</div>
												}

											}
										</tbody>
										<tfoot>
										</tfoot>
									</table>
								</div>
							</div>
						</div>

					</section>
				</div>
			</div>
			<!-- end: page -->
		</section>
	</div>


</section>